<h2 class="flex justify-center text-white mt-15 font-bold text-5xl cursor-default">Create Your Account</h2>
<div class="flex justify-center mt-10 ">
    <div class="bg-gradient-to-t from-blue-500 to-sky-400 rounded-2xl p-8  w-full max-w-md shadow-lg">
        <h2 class="text-2xl font-dm text-white text-center cursor-default mb-4">Create</h2>

        <form class="space-y-6" [formGroup]="formValid" (ngSubmit)="onSubmit()">
            <div>
                <label class="block text-sm text-white mb-1 ml-2 py-1">First Name</label>
                <input
                    type="text"
                    autofocus
                    formControlName="firstName"
                    spellcheck="false"
                    class="w-full border-2 border-sky-300 rounded-xl px-3 py-2
                    focus:outline-none focus:ring-3 focus:ring-sky-100 placeholder-sky-300 text-white
                    transition duration-300 ease-in-out"
                    placeholder="first name"
                    [class.!border-red-500]="formValid.get('firstName')?.invalid && submitted"
                >

                @if (submitted && firstName?.invalid) {
                <div class="text-xs font-bold text-red-500 ml-2 mt-4">

                    @if (firstName?.errors?.['required']) {
                        <p>First name is required</p>
                    }

                    @if (firstName?.errors?.['minlength']) {
                        <p>First Name must be at least 2 characters</p>
                    }
                </div>
            }
            </div>

            <div>
                <label class="block text-sm text-white mb-1 ml-2 py-1">Username</label>
                <input
                    type="text"
                    formControlName="username"
                    spellcheck="false"
                    class="w-full border-2 border-sky-300 rounded-xl px-3 py-2
                    focus:outline-none focus:ring-3 focus:ring-sky-100 placeholder-sky-300 text-white
                    transition duration-300 ease-in-out"
                    placeholder="username"
                    [class.!border-red-500]="formValid.get('username')?.invalid && submitted"
                >

                @if (submitted && username?.invalid) {
                <div class="text-xs font-bold text-red-500 ml-2 mt-4">

                    @if (username?.errors?.['required']) {
                        <p>Username is required</p>
                    }

                    @if (username?.errors?.['minlength']) {
                        <p>Username must be at least 3 characters</p>
                    }
                </div>
            }
            </div>

            <div>
                <label class="block text-sm text-white mb-1 ml-2 py-1">Email</label>
                <input
                    type="email"
                    formControlName="email"
                    spellcheck="false"
                    class="w-full border-2 border-sky-300 rounded-xl px-3 py-2
                    focus:outline-none focus:ring-3 focus:ring-sky-100 placeholder-sky-300 text-white
                    transition duration-300 ease-in-out"
                    placeholder="email"
                    [class.!border-red-500]="formValid.get('email')?.invalid && submitted"
                >

                @if (submitted && email?.invalid) {
                <div class="text-xs font-bold text-red-500 ml-2 mt-4">

                    @if (email?.errors?.['required']) {
                        <p>Email is required</p>
                    }

                    @if (email?.errors?.['email']) {
                        <p>Your response is not a proper email</p>
                    }
                </div>
            }
            </div>

            <div>
                <label class="block text-sm text-white mb-1 ml-2 py-1">Password</label>
                <input
                    type="password"
                    formControlName="password"
                    spellcheck="false"
                    class="w-full border-2 border-sky-300 rounded-xl px-3 py-2
                    focus:outline-none focus:ring-3 focus:ring-sky-100 placeholder-sky-300 text-white
                    transition duration-300 ease-in-out"
                    placeholder="password"
                    [class.!border-red-500]="formValid.get('password')?.invalid && submitted"
                >

                @if (submitted && password?.invalid) {
                <div class="text-xs font-bold text-red-500 ml-2 mt-4">

                    @if (password?.errors?.['required']) {
                        <p>Password is required</p>
                    }

                    @if (password?.errors?.['minlength']) {
                        <p>Password must be at least 5 characters</p>
                    }
                </div>
            }
            </div>

            <div>
                <label class="block text-sm text-white mb-1 ml-2 py-1">Confirm Password</label>
                <input
                    type="password"
                    formControlName="cPassword"
                    spellcheck="false"
                    class="w-full border-2 border-sky-300 rounded-xl px-3 py-2
                    focus:outline-none focus:ring-3 focus:ring-sky-100 placeholder-sky-300 text-white
                    transition duration-300 ease-in-out"
                    placeholder="confirm password"
                    [class.!border-red-500]="submitted && (formValid.get('cPassword')?.invalid || formValid.get('password')?.value !=  formValid.get('cPassword')?.value)"
                >

                @if (submitted && (cPassword?.invalid || password?.value !== cPassword?.value)) {
                <div class="text-xs font-bold text-red-500 ml-2 mt-4">

                    @if (cPassword?.errors?.['required']) {
                        <p>Confirm Password is required</p>
                    }

                    @else if (password?.value !== cPassword?.value) {
                        <p>Password and Confirm Password are not the same</p>
                    }
                </div>
                }
            </div>
            @if (message) {
                <p class="flex justify-center text-red-500 text-md cursor-default">{{ message }}</p>
            }
            <button
                type="submit"
                class="w-full py-2 text-xl text-white font-bold rounded-lg mt-6 shadow-sm
                    border-2 border-sky-300
                    hover:scale-103 transform transition-transform duration-200">
            Submit
            </button>
        </form>
    </div>
</div>

<div class="flex justify-center mt-10">
    <button
        routerLink=""
        class="flex justify-center text-white text-xl
        rounded-lg px-2 py-1
        hover:scale-105
        transition-transform
        duration-200
        "
        >Back
    </button>
</div>